{% extends 'base.html.twig' %}
{% block title %} url shortener {% endblock %}
{% block body %}
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="mt-5">Url shortener<span class="ml-3 badge badge-secondary">New</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-3 mb-3">
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ current }}" aria-valuemin="0" aria-valuemax="{{ max }}">{{ current }} urls out of {{ max }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-container">
                        {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_row(form.url) }}
                            {{ form_row(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for fm in app.flashes('url') %}
                        <div class="flash-notice">
                            <div class="alert alert-info">
                                <strong>your new short url is:</strong> <a href="{{ app.request.getSchemeAndHttpHost() }}/{{ fm }}">{{ app.request.getSchemeAndHttpHost() }}/{{ fm }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for fm in app.flashes('warning') %}
                        <div class="flash-notice">
                            <div class="alert alert-danger">
                                <strong>{{ fm }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
