{% extends 'base.html.twig' %}
{% block title %} url shortener redirect {% endblock %}
{% block body %}
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="mt-5">Url shortener<span class="ml-3 badge badge-secondary">New</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for fm in app.flashes('warning') %}
                        <div class="flash-notice">
                            <div class="alert alert-danger">
                                <strong>{{ fm }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
